* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "c64";
    src: url("fonts/C64_Pro_Mono-STYLE.woff");
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: black;
    padding-bottom: 20px;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 254, 0);
    outline: 1px solid slategrey;
}

#main {
}

img {
    -webkit-filter: sepia(0);
    filter: sepia(0);
    transition: 0.5s ease;
}

img:hover {
    -webkit-filter: sepia(1);
    filter: sepia(1);
}

.title {
    margin-top: 5px;
}

.mainInput {
    background-color: #880000;
    border: none;
    font-family: "c64";
    padding: 10px;
    margin: 5px 0;
}

.components {
    height: 80vh;
    max-width: 800px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid rgb(0, 254, 0);
    padding: 20px;
}

.components img {
    min-width: 70%;
    max-width: calc(100% - 40px);
    max-height: 500px;
    display: block;
    margin: auto;
}

.components h1 {
    margin: 20px 0;
}

.components h2 {
    margin: 20px 0;
    font-family: "c64";
    font-size: 18px;
}

.components .modalUploader {
    text-align: left;
}

.components .uploadButton {
    display: inline;
}

.components::-webkit-scrollbar {
    width: 1em;
}

.components::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.components::-webkit-scrollbar-thumb {
    background-color: rgb(0, 254, 0);
    outline: 1px solid slategrey;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.close {
    text-align: right;
}

.close h1 {
    display: inline-block;

    text-align: right;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1em;
    font-weight: 700;
    color: #0088ff;
    background-color: black;
    display: inline-block;
    font-family: "c64";
    margin: 10px 0;
    width: 280px;
    padding: 10px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    text-align: center;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #eeee77;
    color: black;
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.uploadButton {
    background-color: black;
    color: #0088ff;
    font-family: "c64";
    width: 280px;
    font-size: 1em;
    padding: 10px;
    cursor: pointer;
}

.uploadButton:hover {
    background-color: #eeee77;
    color: black;
}

.comment {
    padding: 10px 5px 5px;
    background-color: rgb(0, 254, 0);
    font-family: "c64";
}

.commentContent {
    font-size: 25px;
    margin-bottom: 10px;
}

.imageDiv {
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    padding: 0 20px;
}

.imageAnchor {
    display: grid;
    align-items: center;
    text-decoration: none;
}

.imageWindow {
    display: grid;
    border: 1px solid rgb(0, 254, 0);
    box-shadow: 2px 2px 6px 0px rgba(112, 66, 20, 0.3);
    max-width: 100%;
    align-items: center;
    padding: 5px;
}

.imageWindow img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 5px auto;
}

.imageTitle {
    color: grey;
    margin: 5px auto;
    margin-bottom: 20px;
}

.imageTitle p {
    color: rgb(0, 254, 0);
    text-align: center;
    font-family: "c64", cursive;
}

.input {
}

.input p {
    display: inline;
}

.comments {
    position: relative;
}

.moreImages {
    width: 100%;
    margin: 10px 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topBar {
    padding: 10px 25px;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    border-bottom: 2px solid rgb(0, 254, 0);
}

h1 {
    display: flex;
    justify-content: flex-start;
    color: rgb(0, 254, 0);
    margin: 0 auto;
    font-family: "c64", cursive;
    font-size: 40px;
    margin-bottom: 10px;
}
