* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgba(112, 66, 20, 0.05); */
}

#main {
    /* display: grid; */
    /* grid-template-columns: 33% 33% 33%; */
}

img {
    /* filter: gray; /* IE6-9 */
    -webkit-filter: sepia(1);
    filter: sepia(1);
    transition: 0.5s ease;
}

/* Disable grayscale on hover */
img:hover {
    -webkit-filter: sepia(0);

    /* -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    /*filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.components {
    background-color: cyan;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fruit {
    font-size: 200px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

/* .imageDiv {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.imageWindow {
    padding: 5px;
    display: grid;
    border: 5px solid black;
    width: 300px;
    height: 300px;
    justify-items: center;
    background-color: #f79c1d;
} */

.imageDiv {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    padding: 0 20px;
}

.imageWindow {
    display: grid;
    border: 1px solid #704214;
    /* border: 1px solid #ccc; */
    /* box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3); */
    box-shadow: 2px 2px 6px 0px rgba(112, 66, 20, 0.3);
    max-width: 100%;
    align-items: center;
}

.imageWindow img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 5px auto;
    z-index: -1;
    /* margin: 0 auto; */
}

.imageTitle {
    /* border: 3px red solid; */
    /* display: grid;
    align-content: center; */
    /* background-color: #f79c1d; */
    color: black;
    /* width: 250px; */

    /* margin: 2px 10px 12px; */
}

.imageTitle p {
    /* height: 50px; */
    margin: 5px auto;
    /* width: 250px; */

    text-align: center;
    font-family: "Special Elite", cursive;
    /* background-color: rgb(211, 211, 211); */
    /* background-color: #f79c1d; */
}

.input {
    display: block;
}

h1 {
    display: flex;
    justify-content: flex-start;
    padding: 0 25px;
    /* color: green; */
    margin: 0 auto;
    font-family: "Abril Fatface", cursive;
    font-size: 50px;
}
