* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #7fa99b;
}

#main {
    /* display: grid; */
    /* grid-template-columns: 33% 33% 33%; */
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.imageDiv {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.imageWindow {
    padding: 5px;
    display: grid;
    border: 5px solid black;
    width: 300px;
    height: 300px;
    justify-items: center;
    background-color: #f79c1d;
}

.imageWindow img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    /* margin: 0 auto; */
}

.imageTitle {
    /* border: 3px red solid; */
    background-color: #f79c1d;
    color: black;
}

.imageTitle p {
    font-family: "Special Elite", cursive;
    background-color: #f79c1d;
}

.input {
    display: block;
}

h1 {
    display: flex;
    justify-content: flex-start;
    padding: 0 25px;
    /* color: green; */
    margin: 0 auto;
    font-family: "Abril Fatface", cursive;
    font-size: 50px;
}
